@import "../../Colors";

@mixin section-background($bg-color) {
  background-color: $bg-color;
}

.section-bg {
  position: relative;
  max-width: 100%;
  height: fit-content;
  overflow: hidden;
  z-index: -10;

  &.dark {
    @include section-background($secondinary-dark-700);
  }

  &.white {
    @include section-background(#ffffff);
  }
}
