@import "../../Colors";

@mixin section-background($bg-color) {
  background-color: $bg-color;
}

.section-bg {
  position: relative;
  max-width: 100%;
  height: fit-content;
  overflow: hidden;

  &.dark {
    @include section-background($secondinary-dark-700);
  }

  &.white {
    @include section-background(#ffffff);
  }

  * {
    transition: opacity 0.3s ease-in-out;
    &.show {
      opacity: 1;
    }
    &.not-show {
      opacity: 0;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
