@import "../../../Colors";

#how-it-works-section-2 {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

#how-it-works-section-2-img {
  width: 40.83vw;
  border-radius: 0.972vw;
  z-index: 1;
}

#how-it-works-section-2-text-and-steps-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

#how-it-works-section-2-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.833vw;
  width: 34.0972vw;
}

#how-it-works-section-2-small-and-large-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.66vw;
}

#how-it-works-section-2-steps-wrapper {
  padding: 2.22vw 5.138vw 2.22vw 2.22vw;
  width: fit-content;
  height: fit-content;
  background-color: $secondinary-default-500;
  border-radius: 0.972vw;
}

.how-it-works-section-2-steps-line {
  position: relative;
  left: 1.66vw;
  top: -0.0694vw;
  height: 2.916vw;
  border: 0.1vw solid $primary-default-500;
  width: 0;
}

#how-it-works-section-2-steps-line-dashed {
  border: 0.1vw dashed $primary-light-100;
}

.how-it-works-section-2-step-wrapper {
  position: relative;
  top: -0.0694vw;
  width: fit-content;
  height: fit-content;
}
