@import "../../Colors.scss";
.footer-links-block-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.22vw;
}

.footer-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.66vw;

  li {
    width: fit-content;
  }

  a {
    text-decoration: none;
    p {
      transition: color 0.25s ease-in-out;
    }

    &:hover {
      p {
        color: $secondinary-default-500;
      }
    }
  }
}
