@import "../../../Colors";

.how-it-works-section-1-step-block-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.66vw;
  width: 13.88vw;
  text-align: center;
}

.how-it-works-section-1-step-img {
  width: 13.88vw;
  border-radius: 1.11vw;
}

.how-it-works-section-1-step-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.472vw;
  height: 3.472vw;
  border: 0.416vw solid $secondinary-dark-700;
  border-radius: 100%;
  position: absolute;
  top: -2.152vw;
  left: -2.152vw;
  background-color: $primary-default-500;
  z-index: 2;
}

.how-it-works-section-1-step-text {
  width: 12.5vw;
}
