#why-use-section-1 {
  display: flex;
  flex-direction: column;
  gap: 4.44vw;
}

#why-use-section-1-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.833vw;
  width: 62.77vw;
}

#why-use-section-1-large-text-wrapper {
  width: 17.0138vw;
}

#why-use-section-1-small-and-large-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#why-use-section-1-small-text-wrapper {
  width: 34.44vw;
}

#why-use-section-1-benefits-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
