@import "../../Colors";

#hero-section-text-container {
  width: 748px;
  height: fit-content;
  text-align: center;
  margin: 0 auto;
  margin-top: 7.82vw;
}

#hero-section-small-text-container {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  margin-top: 24px;
}

#hero-section-button-container {
  display: flex;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  gap: 24px;
  margin-top: 40px;
}

#spend-in-img {
  position: relative;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 75px;
  width: 83.33vw;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
}
