@import "../../Colors";

#hero-section-text-wrapper {
  width: 51.94vw;
  height: fit-content;
  text-align: center;
  margin: 0 auto;
  margin-top: 7.82vw;
}

#hero-section-small-text-wrapper {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  margin-top: 1.66vw;
}

#hero-section-button-wrapper {
  display: flex;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  gap: 1.66vw;
  margin-top: 2.77vw;
}

#spend-in-img {
  position: relative;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5.2vw;
  width: 83.33vw;
  border-top-right-radius: 0.97vw;
  border-top-left-radius: 0.97vw;
}
