@import "../../Colors";

#increase-productivity-checkbox {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

#increase-productivity-switch {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 25.55vw;
  height: 3.88vw;
  border-radius: 2.0833vw;

  h2 {
    z-index: 1;
    pointer-events: none;
    transition: 0.5s ease-in-out all;
  }
}

#increase-productivity-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f3f5f7;
  border-radius: 2.0833vw;

  &::before {
    transition-property: width, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    position: absolute;
    content: "";
    left: 0.1388vw;
    bottom: 0.1388vw;
    height: 3.611vw;
    width: 11.7361vw;
    border-radius: 2.0833vw;
    background-color: $primary-default-500;
  }
}

#increase-productivity-checkbox:checked
  + #increase-productivity-slider::before {
  transform: translateX(11.7361vw);
  width: 13.5416vw;
}
