@import "../../Colors";

@mixin button-background($bg-color) {
  background-color: $bg-color;

  @if $bg-color == $primary-default-500 {
    &:hover {
      background-color: $primary-dark-600;
    }
    &:focus::before {
      border: 1px solid $primary-light-200;
    }
  } @else if $bg-color == $secondinary-default-500 {
    &:hover {
      background-color: $secondinary-dark-600;
    }
    &:focus::before {
      border: 1px solid $secondinary-light-200;
    }
  }
}

.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0.972vw 2.22vw;
  width: fit-content;
  height: fit-content;
  font-size: 1.11vw;
  font-weight: 600;
  line-height: 1.66vw;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  transition: background 0.5s ease-in-out;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    position: relative;
    outline: none;
  }
  &:focus::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 2.083vw;
    pointer-events: none;
  }

  &.primary {
    @include button-background($primary-default-500);
    &.focus-temporary {
      @include button-background($primary-dark-700);
    }
  }

  &.secondinary {
    @include button-background($secondinary-default-500);
    &.focus-temporary {
      @include button-background($secondinary-dark-700);
    }
  }
}
