#why-use-section-1-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 62.77vw;
  min-width: 800px;
}

#why-use-section-1-large-text-wrapper {
  width: 245px;
}

#why-use-section-1-small-and-large-text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#why-use-section-1-small-text-wrapper {
  width: 496px;
}

#why-use-section-1-benefits-wrapper {
  margin-top: 64;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 64px;
}
