.why-use-section-2-benefits-wrapper-blocks {
  display: flex;
  align-items: start;
  gap: 2.22vw;
  height: fit-content;
  width: fit-content;
}

.benefit-icon {
  width: 3.472vw;
}

.why-use-section-2-benefits-text {
  display: flex;
  flex-direction: column;
  gap: 0.833vw;
  width: 29.166vw;
}
