#why-use-section-2-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  min-width: 600px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#why-use-section-2-small-and-large-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#why-use-section-2-small-text-wrapper {
  max-width: 720px;
  min-width: 600px;
}

#why-use-section-2-benefits-and-transaction-history-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
}

#why-use-section-2-benefits-wrapper {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

#transaction-history-img {
  border-radius: 14px;
  width: 42.22vw;
}
