.increase-productivity-section-benefits-block-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.22vw;
}

.increase-productivity-section-benefit-wrapper {
  display: flex;
  align-items: start;
  gap: 0.833vw;
}

.increase-productivity-section-benefit-img {
  width: 1.66vw;
}
