@import "../../Colors";

@mixin text-color($color) {
  color: $color;
}

.large-text {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: #ffffff;

  &.white {
    @include text-color(#ffffff);
  }

  &.black {
    @include text-color($secondinary-dark-900);
  }
}
