@import "../../Colors";

@mixin text-color($color) {
  color: $color;
}

.medium-text {
  font-weight: 600;
  letter-spacing: -0.02em;
  color: $primary-default-500;

  &.primary {
    @include text-color($primary-default-500);
  }

  &.black {
    @include text-color($secondinary-dark-900);
  }

  &.secondinary {
    @include text-color($secondinary-default-500);
  }

  &.white {
    @include text-color(#ffffff);
  }
}
