@import "../../Colors";

@mixin text-color($color) {
  color: $color;
}

.small-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: $secondinary-light-400;

  &.onBlackBg {
    @include text-color($secondinary-light-300);
  }

  &.onWhiteBg {
    @include text-color($secondinary-light-400);
  }
}
