@import "../../Colors.scss";

#registration-login-section {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  z-index: 10;
}

#registration-login-section-wrapper {
  position: relative;
  padding-top: 3vw;
  width: 44.44vw;
  height: 38.5vw;
  border: 0.138vw solid $secondinary-default-500;
  border-radius: 0.972vw;
  background-color: $secondinary-dark-700;
  overflow: hidden;
}

.registration-login-section-swapper {
  width: 100%;
  height: 100%;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;

  &.swap {
    transform: translateX(-100%);
  }
}

#login-window-wrapper,
#registration-window-wrapper {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &.on-screen {
    opacity: 1;
  }
}

#registration-window-wrapper {
  position: absolute;
  left: 44.44vw;
  top: 0;
  height: 90%;
  gap: 2vw;
}

#registration-login-cross-img {
  position: absolute;
  right: 1.2vw;
  top: 1.2vw;
  height: 2vw;
  width: 2vw;
  transition: scale 0.25s ease-in-out;
  color: #ffffff;

  &:hover {
    scale: 1.2;
    cursor: pointer;
  }
}

.registration-and-login-block-switch-text {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.registration-and-login-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.833vw;
}

.registration-and-login-inputs-block {
  gap: 2vw;

  button {
    width: 68% !important;
    font-size: 1.35vw;
  }
}

.registration-and-login-input-wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  width: 68%;

  h3 {
    transform: translateY(90%);
    width: fit-content;
    pointer-events: none;
    transition-property: color, transform;
    transition: 0.35s ease-in-out;
  }

  .registration-and-login-input-icon {
    position: absolute;
    right: 7.5vw;
    width: 1.43vw;
    height: 1.43vw;
    color: white;
    transform: translateY(2.2vw);
    transition: color 0.35s ease-in-out;
    cursor: pointer;
  }

  input {
    box-sizing: border-box;
    background-color: transparent;
    border: 0;
    border-bottom: 0.138vw solid $secondinary-light-400;
    height: 2vw;
    color: #ffffff;
    width: 100%;
    font-weight: 400;
    letter-spacing: -0.02em;
    font-size: 1.1vw;
    line-height: 1.8vw;
    padding-right: 2.5vw;
    outline: none;
    transition: border-bottom 0.35s ease-in-out;

    &:focus ~ h3,
    &:not(:placeholder-shown) ~ h3 {
      transform: translateY(-10%);
    }

    &:not(:placeholder-shown) {
      &:not(:valid) {
        border-bottom: 0.138vw solid rgb(255, 70, 70);
      }

      &:not(:valid) ~ h3,
      &:not(:valid) ~ .login-window-input-icon {
        color: rgb(255, 70, 70);
      }
    }
  }
}

#login-window-block-restore-password {
  height: 5vw;
  width: 100%;
  background-color: $secondinary-dark-600;
  border-top: 0.138vw solid $secondinary-default-500;
  border-bottom-left-radius: 0.972vw;
  border-bottom-right-radius: 0.972vw;
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  align-items: center;
}

a {
  text-decoration: none;

  p {
    text-decoration: underline;
    transition: color 0.25s ease-in-out;

    &:hover {
      color: $secondinary-light-200 !important;
      cursor: pointer;
    }
  }
}
