@import "../../../Colors";

#how-it-works-section-2-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#how-it-works-section-2-img {
  width: 40.83vw;
  border-radius: 14px;
}

#how-it-works-section-2-text-and-steps-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.81vw;
}

#how-it-works-section-2-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 500px;
  min-width: 400px;
}

#how-it-works-section-2-small-and-large-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#how-it-works-section-2-steps-wrapper {
  padding: 32px;
  width: 100%;
  height: fit-content;
  background-color: $secondinary-default-500;
  border-radius: 14px;
}

.how-it-works-section-2-steps-line {
  position: relative;
  left: 24px;
  top: -1px;
  height: 42px;
  border-left: 2px solid $primary-default-500;
  width: 0;
}

#how-it-works-section-2-steps-line-dashed {
  border-left: 2px dashed $primary-light-100;
}

.how-it-works-section-2-step-wrapper {
  position: relative;
  top: -1px;
  width: fit-content;
  height: fit-content;
}
