$primary-dark-900: #1d1178;
$primary-dark-800: #2d1d92;
$primary-dark-700: #432eb5;
$primary-dark-600: #5e43d8;
$primary-default-500: #7c5cfc;
$primary-light-400: #9f84fd;
$primary-light-300: #b49dfe;
$primary-light-200: #cebefe;
$primary-light-100: #e7defe;

.dark-bg-color {
  background-color: #0d121f;
  width: 100px;
  height: 100px;
}
