$primary-dark-900: #1d1178;
$primary-dark-800: #2d1d92;
$primary-dark-700: #432eb5;
$primary-dark-600: #5e43d8;
$primary-default-500: #7c5cfc;
$primary-light-400: #9f84fd;
$primary-light-300: #b49dfe;
$primary-light-200: #cebefe;
$primary-light-100: #e7defe;

$secondinary-dark-900: #040815;
$secondinary-dark-800: #080c19;
$secondinary-dark-700: #0d121f;
$secondinary-dark-600: #131825;
$secondinary-default-500: #1a202c;
$secondinary-light-400: #596780;
$secondinary-light-300: #90a3bf;
$secondinary-light-200: #c3d4e9;
$secondinary-light-100: #e0e9f4;

.dark-bg-color {
  background-color: #0d121f;
  width: 100px;
  height: 100px;
}
